---
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<div
  class="w-full bg-neutral-100 border border-neutral-200 flex flex-col gap-1 sm:gap-3 px-8 py-6 rounded-lg"
>
  <h3>{title}</h3>
  <p>{description}</p>
</div>
