---
const { label } = Astro.props;
---

<div
  class="w-full col-span-2 flex flex-col gap-4 items-center bg-neutral-200/20 border border-neutral-200 rounded-lg px-8 py-6"
>
  <slot/>
  <h2>{label}</h2>
</div>
