---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="light.svg" rel="icon" media="(prefers-color-scheme: light)">
    <link href="dark.svg" rel="icon" media="(prefers-color-scheme: dark)">
    <meta name="generator" content={Astro.generator}>
    <title>Containers</title>
  </head>
  <body>
    <slot/>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
