---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="light.svg" rel="icon" media="(prefers-color-scheme: light)">
    <link href="dark.svg" rel="icon" media="(prefers-color-scheme: dark)">
    <meta name="generator" content={Astro.generator}>
    <title>Containers</title>
  </head>

  <body class="m-0 w-full h-screen bg-neutral-100">
    <main class="">
      <slot/>
    </main>
  </body>
</html>
