services:
  traefik:
    image: traefik:v3.6.7
    restart: unless-stopped
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80

    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy

  database:
    image: postgres:18.1-alpine3.23
    restart: unless-stopped
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_DB: containers
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    cpus: "1.0"
    mem_limit: "512m"
    networks:
      - internal

  redis:
    image: redis:8.4.0-alpine3.22
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"
    command: >
      redis-server
      --appendonly yes
    volumes:
      - redis_data:/data
    cpus: "0.25"
    mem_limit: "128m"
    networks:
      - internal

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "9999"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - api_uploads:/data/uploads
    depends_on:
      - database
    cpus: "1.0"
    mem_limit: "512m"
    networks:
      - internal
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.api.rule=Host(`paper.sh`) && PathPrefix(`/api`)
      - traefik.http.routers.api.entrypoints=web
      - traefik.http.routers.api.service=api
      - traefik.http.services.api.loadbalancer.server.port=9999

      # - traefik.http.middlewares.api-stripprefix.stripprefix.prefixes=/api
      # - traefik.http.routers.api.middlewares=api-stripprefix

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "3000"
    depends_on:
      - api
    cpus: "1.0"
    mem_limit: "512m"
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.web.rule=Host(`paper.sh`) && !PathPrefix(`/api`)
      - traefik.http.routers.web.entrypoints=web
      - traefik.http.routers.web.service=web
      - traefik.http.services.web.loadbalancer.server.port=9999

volumes:
  postgres_data:
  api_uploads:
  redis_data:

networks:
  proxy:
    external: true
  internal:
    driver: bridge
