---
import { Image } from "astro:assets";
import background from "@/assets/background.png";
import dashboard from "@/assets/hero/dashboard.jpg";
import Container from "@/components/layout/container.astro";
import Header from "@/components/layout/header.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <section class="min-h-screen">
    <Container>
      <Header/>

      <div class="mt-24">
        <div class="flex flex-col gap-10">
          <div class="flex flex-col gap-2">
            <h1>containers can be simpler.</h1>
            <p class="text-base text-neutral-700">
              Pull images, launch containers, manage their lifecycle, <br>
              and monitor through a simple, self-hosted dashboard.
            </p>
          </div>

          <div
            class="relative rounded-xl overflow-hidden px-24 pt-24 w-full h-[600px]"
          >
            <Image
              src={background}
              alt="Sky with clouds background image."
              class="absolute inset-0 w-full h-full object-cover"
            />

            <Image
              src={dashboard}
              alt="Dashboard to manage containers"
              class="relative w-full h-auto rounded-lg z-10"
            />
          </div>
        </div>
      </div>
    </Container>
  </section>

  <section class="bg-white py-64">
    <Container>
      <div class="w-full grid grid-cols-6 gap-4 items-center">
        <h1 class="col-span-3">
          a simpler way to <br>
          manage containers.
        </h1>
        <p class="col-span-3">
          Containers connects a lightweight agent on your servers with a clean,
          unified dashboard. You get real-time visibility, instant diagnostics,
          and effortless control across every node.
        </p>
      </div>
    </Container>
  </section>
</Layout>
