---
import Header from "@/components/layout/header.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Header/>

  <section class="mt-32">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-2">
        <h1 class="text-4xl text-neutral-950">containers can be simpler.</h1>
        <p class="text-base text-neutral-700">
          Pull images, launch containers, manage their lifecycle, <br>
          and monitor through a simple, self-hosted dashboard.
        </p>
      </div>

      <div
        class="rounded-xl overflow-hidden px-24 pt-24 bg-[url(/background.png)] bg-center bg-no-repeat bg-cover aspect-video"
      >
        <img
          src="/hero/dashboard.jpg"
          alt="Dashboard to manage containers"
          class="w-full h-auto rounded-lg"
          loading="lazy"
        >
      </div>
    </div>
  </section>
</Layout>
