---
import { Image } from "astro:assets";
import github from "@/assets/social/github.svg";
import x from "@/assets/social/x.svg";
import Logo from "@/components/core/logo.astro";
import Container from "@/components/layout/container.astro";
---

<footer class="py-8 border border-t-neutral-200 bg-neutral-100">
  <Container class="grid grid-cols-6 items-center">
    <div class="col-span-2">
      <Logo/>
    </div>

    <div class="col-span-2 text-center">
      <p>
        Made with&nbsp;<span class="text-red-500">❤</span>&nbsp;by <a
          href="https://mando.sh"
          class="underline hover:text-neutral-950 transition-colors"
          >mando.sh</a
        >
      </p>
    </div>

    <div class="col-span-2 inline-flex justify-end items-center gap-4">
      <a href="https://github.com/sonomandeep" target="_blank">
        <Image src={github} alt="GitHub logo." height={20} width={20}/>
      </a>
      <a href="https://x.com/sonomandeep" target="_blank">
        <Image src={x} alt="X (formerly twitter) logo." height={20} width={20}/>
      </a>
    </div>
  </Container>
</footer>
