---
import Button from "../ui/Button.astro";
---

<header class="col-span-12 flex items-center justify-between py-4">
  <div class="flex items-center gap-2">
    <img alt="" class="size-6" src="/light.svg">
    <p
      class="font-mono text-base font-semibold tracking-tight text-neutral-900"
    >
      pap<span class="tracking-tighter">er</span>
    </p>
  </div>
  <Button size="sm">Join Waitlist</Button>
</header>
