---
import { CornerDownLeftIcon } from "lucide-react";
import Logo from "@/components/core/logo.astro";
import { Button } from "@/components/ui/button";
---

<header class="inline-flex items-center justify-between w-full py-4">
  <Logo/>

  <Button size="sm">
    Get Updates
    <CornerDownLeftIcon className="size-3.5 opacity-70"/>
  </Button>
</header>
