---
import Section from "../layout/section.astro";
import Button from "../ui/Button.astro";
---

<Section>
  <div class="col-span-12 mt-24 flex flex-col gap-6">
    <h1 class="text-center">Start monitoring now.</h1>

    <div class="w-full inline-flex gap-4 items-center justify-center">
      <Button>Join Waitlist</Button>
      <Button href="#demo" variant="secondary">Open Demo</Button>
    </div>
  </div>
</Section>
