---
import Section from "../layout/section.astro";
---

<Section>
  <footer class="col-span-12 mt-32 mb-4 text-center text-neutral-500" role="contentinfo">
    <p class="text-sm">&copy; 2026 Paper. All rights reserved.</p>
  </footer>
</Section>
