---
import Section from "../layout/section.astro";
---

<Section>
  <div
    class="col-span-12 mt-32 mb-4 inline-flex items-center justify-center text-neutral-500"
  >
    <p class="text-sm">© 2026 Paper. All rights reserved.</p>
  </div>
</Section>
